* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Now Display";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#nav {
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 40px;
}

#lnav {
  display: flex;
  align-items: center;
  gap: 20px;
}

#lnav h3 {
  font-size: 16px;
  font-weight: 500;
}

#lnav button {
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 100px;
  border: none;
}

#rnav a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: #e3e3e3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#photu {
  margin-bottom: 20px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#tag {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(0, -50%) rotate(-10deg);
  white-space: nowrap;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100px;
  background-color: white;
}

#hero h1 {
  font-size: 37px;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -1px;
}

#hero button {
  padding: 12px 32px;
  background-color: black;
  color: white;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
}

#sec2 {
  width: 100%;
  background-color: #e3e3e3;
}

#logo {
  width: 100%;
  padding: 70px 40px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: white;
}

#logo img {
  width: 100%;
}

#collab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 40px;
}

#collab #text {
  display: flex;
  align-items: center;
  justify-content: center;
}

#collab h1 {
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.2;
  width: 60%;
  text-align: center;
}

#line {
  position: relative;
  margin-top: 70px;
  width: 70%;
  height: 1px;
  background-color: rgb(198, 198, 198);
}

#line button {
  padding: 10px 30px;
  background-color: white;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}

#servicescontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  padding: 10px;
}

#services {
  display: flex;
  gap: 30px;
  width: 70%;
}

.service {
  width: 25%;
  padding: 10px;
}

.service h4 {
  margin: 15px 0;
}

.service p {
  font-size: 13px;
}

.service i {
  font-size: 30px;
}

#invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 40px;
  background-color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

#invite #handshake {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #e3e3e3, transparent);
}

#handshake i {
  font-size: 30px;
  opacity: 0.4;
}

#invite h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}
#btns {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

button {
  padding: 16px 25px;
  border-radius: 100px;
  border: none;
  font-weight: 600;
}

#btns button:nth-child(1) {
  background-color: black;
  color: white;
}

#btns button:nth-child(2) {
  background-color: white;
  border: 1px solid #c3c3c3;
}

#footer {
  width: 100%;
  padding: 40px 60px;
  background-color: white;
}

#fline {
  width: 100%;
  height: 1px;
  background-color: #c3c3c3;
}

#flinks{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#flinks a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}